<!-- <script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);

  setTimeout(function(){
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $(".navbar-brand").css("height","40pt");
    }
    else{
      $(".navbar-brand").css("height","65pt");
      $("#login").height($(window).height() - 150);
    }
    $('select[name*=preg]').unbind('click').click(function(){
      var a = 0;
      $('select[name*=preg]').each(function() {
        if($(this).val() === 'no'){
          var html = $("#area2AccionesRealizarAst").html().toString();
		  var b = 0;
		  $('div[id*=divAcciones]').each(function() {
		    b++;
		  });
		  if(b === 0){
		  	$("#areaAccionesRealizarAst").show();
		  	html += '<div id="divAcciones' + (b+1) + 'ADst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; padding: 0;"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;"><label>Acción ' + (b+1) + ':</label></div><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt;"><label>Descripción secuencial del trabajo (Tareas):</label><textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 10pt;" name="descripcion' + (b+1) + 'ADst" id="descripcion' + (b+1) + 'ADst" maxlength="2000"></textarea></div><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt;"><label>Riesgos potenciales asociados:</label><textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 10pt;" name="riesgos' + (b+1) + 'ADst" id="riesgos' + (b+1) + 'ADst" maxlength="2000"></textarea></div><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt;"><label>Medidas de control de los riesgos:</label><textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 10pt;" name="medidas' + (b+1) + 'ADst" id="medidas' + (b+1) + 'ADst" maxlength="2000"></textarea></div><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt;"><label>Tipo de riesgo:</label><select id="tipoRiesgo' + (b+1) + 'ADst" name="tipoRiesgo' + (b+1) + 'ADst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control custom" style="margin-bottom: 10pt;"></select></div></div>';

		  $("#area2AccionesRealizarAst").html(html);
		  $.ajax({
		      url:   'controller/datosTipoRiesgo.php',
		      type:  'post',
		      success:  function (response) {
		        var p = jQuery.parseJSON(response);
		        if(p.aaData.length !== 0){
		          var cuerpoRie = "";
		          for(var i = 0; i < p.aaData.length; i++){
		            cuerpoRie += "<option value=" + p.aaData[i].IDTIPORIESGO + ">" + p.aaData[i].NOMBRE + "</option>";
		          }
		          $("#tipoRiesgo" + (b+1) + "ADst").html(cuerpoRie);
		        }
		      }
		    });
		  }
          a = 1;
        }
      });
      console.log(a);
      if(a === 0){
      	$('div[id*=divAcciones]').each(function() {
			$(this).remove();
		});
        $("#areaAccionesRealizarAst").hide();
      }
		$('textarea[id*=ADst]').bind('keypress', function(e) {
		  $(this).css("border","");
		});
    });
    $('button[id*=firmaPersonal]').unbind('click').click(function(){
    	$("#tituloFirma").html($(this).parent().parent().children('div')[0].firstElementChild.firstChild.nodeValue);
    	var numero = $("#tituloFirma").html().split(' ');
	    numero = numero[1];
	    $("#signatureparent").jSignature('reset');
	    $("#signatureparent").jSignature('setData', 'data:image/png;base64, ' + $("#firmaGuardadaPersonal" + numero +  "APst").html());
    	$("#modalFirma").modal('show');
    });
  },3000);
</script> -->

<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<div style="margin-top: 0pt;">
	<div id="mainNuevoAst" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="area1Ast" class="row">
			<div style="margin-bottom: 20pt; text-align: right;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      	<font id="tituloPersonal" style="font-weight: bold; font-size: 15pt;">
					<span style="color: gray;" class="fas fa-plus-circle">&nbsp;&nbsp;Nuevo AST</span>
				</font>
      </div>
	    <div id="divClienteAst" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Cliente:</label>
				<input class="form-control" type="text" name="clienteAst" id="clienteAst"  style="margin-bottom: 10pt;">
			</div>
	    <div id="divSupervisorAst" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Supervisor responsable:</label>
				<input class="form-control" type="text" name="supervisorAst" id="supervisorAst"  style="margin-bottom: 10pt;">
			</div>
		  <div id="divFechaInicioAst" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Fecha de inicio del trabajo:</label>
				<input class="form-control" type="text" name="fechaInicioAst" id="fechaInicioAst"  style="margin-bottom: 10pt;">
			</div>
		    <div id="divFechaTerminoAst" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Fecha de término del trabajo:</label>
				<input class="form-control" type="text" name="fechaTerminoAst" id="fechaTerminoAst"  style="margin-bottom: 10pt;">
			</div>
		    <div id="divAreaAst" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Área o lugar específico del trabajo:</label>
				<input class="form-control" type="text" name="areaAst" id="areaAst"  style="margin-bottom: 10pt;">
			</div>
		    <div id="divTipoActividadAst" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Tipo de actividad:</label>
				<select id="tipoActividadAst" name="tipoActividadAst" class="form-control custom" style="margin-bottom: 10pt;">
					<option value="1">Rutinaria</option>
					<option value="0">No rutinaria</option>
				</select>
			</div>
		    <div id="divNombrePTSAst" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Nombre del PTS que ajusta:</label>
				<input class="form-control" type="text" name="nombrePTSAst" id="nombrePTSAst"  style="margin-bottom: 10pt;">
			</div>
			<div id="divDescripcionAst" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Descripción del trabajo a ejecutar:</label>
				<textarea rows="3" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 10pt;" name="descripcionAst" id="descripcionAst" maxlength="2000"></textarea>
			</div>
			<div id="divObservacionAst" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Observaciones o recomendaciones complementarias:</label>
				<textarea rows="3" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 10pt;" name="observacionAOst" id="observacionAOst" maxlength="2000"></textarea>
			</div>
			<div id="divTablaPersonal" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5pt; ">
				<hr class="lineaSeparadora">
			</div>
    </div>
	</div>
</div>

<!-- <div id="mainNuevoAst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt;">
		<div style="margin-bottom: 10pt; text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        	<font style="font-weight: bold; font-size: 12pt;">Evaluación inicial de los trabajadores</font>
	    </div>
	    <div id="area2Ast">

	    </div>
	    <div style="display: none; text-align: left;" id="areaAccionesRealizarAst">
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	    		<label>Indicar acciones implementadas:</label>
		    </div>
			<div id="area2AccionesRealizarAst">

		    </div>
		    <div id="divTablaPersonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5pt; margin-bottom: 10pt; left: 0;">
		   	 	<font>Agregar: </font>
			    <button style="width: 25pt; text-align: center; margin-left: 10pt; background-color: #b34572; color: white;" class="botonRedondo" id="agregarDescripcionAst">+</button>
	    		<button style="width: 25pt; text-align: center; margin-left: 5pt; background-color: #b34572; color: white;" class="botonRedondo" id="eliminarDescripcionAst">-</button>
	    	</div>
		</div>
		<div id="divTablaPersonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5pt; ">
			<hr class="lineaSeparadora">
		</div>
		<div id="divFactibilidadAst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; padding: 0;">
			<div id="divFactibilidadAst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
				<label>¿Es factible realizar el trabajo?</label>
				<select id="factibilidadAst" name="factibilidadAst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control custom" style="margin-bottom: 10pt;">
					<option value="1">Si</option>
					<option value="0">No</option>
				</select>
			</div>
		</div>
		<div id="divTablaPersonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5pt; ">
			<hr class="lineaSeparadora">
		</div>
		<div id="divTablaPersonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5pt; margin-bottom: 5pt; text-align: left;">
			<label style="font-weight: bold; font-size: 12pt;">Selección multiple</label>
		</div>
		<div id="divEppAst" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
			<label>Equipos, elementos y sistemas de protección personal</label>
			<select multiple="multiple" id="eppAst" name="eppAst" class="form-control custom">

			</select>
		</div>
		<div id="divMaqAst" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
			<label>Maquinarias y equipos</label>
			<select multiple="multiple" id="maqAst" name="maqAst" class="form-control custom">

			</select>
		</div>
		<div id="divHerrAst" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
			<label>Herramientas de mano accesorios de apoyo</label>
			<select multiple="multiple" id="herrAst" name="herrAst" class="form-control custom">

			</select>
		</div>
		<div id="divMatAst" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
			<label>Materiales e insumos</label>
			<select multiple="multiple" id="matAst" name="matAst" class="form-control custom">

			</select>
		</div>
		<div id="divPerAst" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
			<label>Permisos de trabajo</label>
			<select multiple="multiple" id="perAst" name="perAst" class="form-control custom">

			</select>
		</div>
		<div id="divTablaPersonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5pt; ">
			<hr class="lineaSeparadora">
		</div>
		<div style="margin-bottom: 10pt; text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        	<font style="font-weight: bold; font-size: 12pt;">Detalle de personal instruido</font>
	    </div>
	    <div id="divEvaluado1Ast">
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt;">
	    		<font style="font-weight: bold; font-size: 11pt;">Personal 1</font>
	    	</div>
		    <div id="divNombrePersonal1Ast" class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Nombre completo:</label>
				<input class="form-control" type="text" name="nombrePersonal1APst" id="nombrePersonal1APst"  style="margin-bottom: 10pt;">
			</div>
			<div id="divCargoPersonal1Ast" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Cargo:</label>
				<input class="form-control" type="text" name="cargoPersonal1APst" id="cargoPersonal1APst"  style="margin-bottom: 10pt;">
			</div>
			<div id="divRutPersonal1Ast" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Rut:</label>
				<input class="form-control" type="text" name="rutPersonal1APst" id="rutPersonal1APst"  style="margin-bottom: 10pt;">
			</div>
			<div id="divFirmaPersonal1Ast" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: left;">
				<label>Firma:</label>
				<button id="firmaPersonal1APst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-danger" style="margin-bottom: 10px;" type="button">Firmar</button>
				<label style="display: none;" id="firmaGuardadaPersonal1APst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></label>
			</div>
		</div>
		<div id="area3Ast">

	    </div>
	    <div id="divTablaPersonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5pt; left: 0; margin-bottom: 10pt; text-align: left;">
		    <font>Agregar: </font>
		    <button style="width: 25pt; text-align: center; margin-left: 10pt; background-color: #b34572; color: white;" class="botonRedondo" id="agregarPersonalAst">+</button>
	    	<button style="width: 25pt; text-align: center; margin-left: 5pt; background-color: #b34572; color: white;" class="botonRedondo" id="eliminarPersonalAst">-</button>
	    </div>
		<div id="divTablaPersonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5pt; ">
			<hr class="lineaSeparadora">
		</div>
		<div style="margin-bottom: 10pt; text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<font style="font-weight: bold; font-size: 12pt;">En caso de emergencia avisar a:</font>
		</div>
		<div style="margin-bottom: 10pt; text-align: left;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
				<label>
					Telefono de emergencia Jefe o supervisor directo:
				</label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding: 0;">
				<input class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" id="telJefeAst" type="text">
			</div>
		</div>
		<div style="margin-bottom: 10pt; text-align: left;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
				<label>
					Experto en Prevención de Riesgos:
				</label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding: 0;">
				<input class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" id="telExpertoAst" type="text">
			</div>
		</div>
		<div style="margin-bottom: 10pt; text-align: left;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
				<label>
					Mutualidad a la que esta adherido:
				</label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding: 0;">
				<input  class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" id="telMutualAst" type="text">
			</div>
		</div>
		<div style="margin-bottom: 10pt; text-align: left;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
				<label>
					Ambulancia:
				</label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding: 0;">
				<input class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" id="telAmbulanciaAst" type="text" value="131" disabled>
			</div>
		</div>
		<div style="margin-bottom: 10pt; text-align: left;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
				<label>
					Bomberos:
				</label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding: 0;">
				<input class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" id="telBomberosAst" type="text" value="132" disabled>
			</div>
		</div>
		<div style="margin-bottom: 10pt; text-align: left;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
				<label>
					Carabineros:
				</label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding: 0;">
				<input class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" id="telCarabinerosAst" type="text" value="133" disabled>
			</div>
		</div>
		<div style="margin-bottom: 10pt; text-align: left;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
				<label>
					Emergencia:
				</label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding: 0;">
				<input class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" id="telEntelAst" type="text">
			</div>
		</div>
	    <div id="divTablaPersonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5pt; ">
			<hr class="lineaSeparadora">
		</div>
		<div id="divFirmaRealizadorAst" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: left;">
			<div style="margin-bottom: 10pt; text-align: left; padding: 0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<font style="font-weight: bold; font-size: 12pt;">Firma realizador:</font>
			</div>
			<button id="buttonFirmaRealizadorAst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-danger" style="margin-bottom: 10px;" type="button">Firmar</button>
			<label style="display: none;" id="firmaGuardadaRealizadorAst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></label>
		</div>
	    <div id="divTablaPersonal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5pt; ">
			<hr class="lineaSeparadora">
		</div>
		<div id="divFirmaRealizadorAst" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; padding: 0;">
			<div id="divFirmaRealizadorAst" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: left; margin-top: 10pt;">
				<button id="buttonGuardarAst" style="margin-top: 10px; font-size: 10pt;" type="button" class="btn btn-danger fa fa-save col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;&nbsp;Guardar</button>
			</div>
			<div id="divFirmaRealizadorAst" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: left; margin-top: 10pt; font-size: 10pt;">
		        <a disabled id="buttonVerPdfGenerado" style="margin-top: 10px;" type="button" class="btn btn-danger fa fa-file-pdf-o col-lg-12 col-md-12 col-sm-12 col-xs-12" target="_blank">&nbsp;&nbsp;Ver PDF</a>
		  	</div>
		</div>
</div> -->
