<div style="text-align: center;">
	<img src="view/img/logged.png" style="width: 50pt;">
	<br>
	<font style="font-size: 8pt; color: black;"><a style="color: black;" target="_blank" href="https://www.e-gestiontech.cl">© E-Gestiontech 2020</a></font>
	<input style="display: none;" type="text" id="sesionActiva" value="0">
	<input style="display: none;" type="text" id="sesionActivaUso" value="0">
	<input style="display: none;" type="text" id="cantMenu" value="0">
</div>
