<script type="text/javascript">
  // $("div.sub-menu li").css("display","block");
  // $(".contenedor-logos").show();
  $("#menu-lateral").unbind('click').hover(function(){

  },
  function(){
    $("div.sub-menu").parent().css("height", "45px");
    $("div.sub-menu").parent().css("background-color","#1e0000");
    $("div.sub-menu").fadeOut();
    $("div.sub-menu").parent().find("p").css("color", "white");
  });

  $(".title-menu-sub").unbind('click').hover(function(){
    $(this).css("color", "#ffcd00");
  },
  function(){
    $(this).css("color", "white");
  });

  $(".contenedor-logos").unbind('click').hover(function(){
    $(this).css({'cursor': 'pointer'});
  });

  $(".contenedor-logos").unbind('click').click(function(){
    var a = $(this).find("p").css("color");

    //Cierra todo
    $("div.sub-menu").parent().css("height", "45px");
    $("div.sub-menu").parent().css("background-color","#1e0000");
    $("div.sub-menu").fadeOut();
    $("div.sub-menu").parent().find("p").css("color", "white");

    if(a !== "rgb(255, 255, 0)"){
      //Abre el clickado
      $(this).find("p").css("color", "yellow");
      $(this).find("div.sub-menu").fadeIn();
      var a = $(this).find('li[style*="block"]').length;
      if($(this).attr("id") == 'liCuenta'){
        a = (a+1)*30 + 45;
      }
      else{
        a = a*30 + 45;
      }
      $(this).css("height", a + "px");
      $(this).css("background-color","#290000");
    }
  });
</script>
<div id="logo-menu">
  <p class="title-menu2"><a style="color: white;" href="http://e-gestiontech.cl">E-GestionTech</a></p>
</div>

<div id="liAuditorias" style="display:none;"  class="contenedor-logos">
  <div class="logo">
    <span class="imgMenu fas fa-clipboard-list"></span>
  </div>
  <p class="title-menu">Auditoría</p>
  <div class="sub-menu" style="display:none; color: white;">
    <ul>
      <li id="buttonNuevaAST" style="display:none;"><div class="div-sub-menu">
        <i class="imgMenu-sub fas fa-plus-circle"></i>
        <a href="#/nuevoAST" class="title-menu-sub">AST</a>
      </div></li>
    </ul>
  </div>
</div>

<div id="liListados" style="display:none;" class="contenedor-logos">
  <div class="logo">
    <span class="imgMenu fas fa-list-alt"></span>
  </div>
  <p class="title-menu">Listados</p>
  <div class="sub-menu" style="display:none; color: white;">
    <ul>
      <li id="buttonListadoAST" style="display:none;"><div class="div-sub-menu">
        <i class="imgMenu-sub fas fa-list-ol"></i>
        <a href="" class="title-menu-sub">AST</a>
      </div></li>
    </ul>
  </div>
</div>

<div id="liCuenta" style="display:none;" class="contenedor-logos">
  <div class="logo">
    <span class="imgMenu fas fa-cog"></span>
  </div>
  <p class="title-menu">Cuenta</p>
  <div class="sub-menu" style="display:none; color: white; font-size: 12px; margin-left: 15px; margin-bottom: 8px;">
    <div id="nombrePerfil" class="div-sub-menu">

    </div>
  </div>
  <div class="sub-menu" style="display:none; color: white;">
    <ul>
      <li id="buttonChangePass" style="display:none;" ><div class="div-sub-menu">
        <i class="imgMenu-sub far fa-edit"></i>
        <a href="" class="title-menu-sub">Cambiar contraseña</a>
      </div></li>
    </ul>
  </div>
  <div class="sub-menu" style="display:none; color: white;">
    <ul>
      <li id="buttonLogout" style="display:none;" ><div class="div-sub-menu">
        <i class="imgMenu-sub fas fa-sign-out-alt"></i>
        <a href="" class="title-menu-sub">Salir</a>
      </div></li>
    </ul>
  </div>
</div>
