<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div>
		<div id="personal" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div style="margin-bottom: 5pt; text-align: left;">
      	<font style="font-weight: bold; font-size: 15pt; margin-left: 10pt;">
					<span style="color: gray;" class="fas fa-users">&nbsp;&nbsp;Mi Personal</span>
				</font>
      </div>
			<div id="divTablaPersonal" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
				<div class="d-block d-md-none" style="text-align: center;">
        	<font style="font-weight: bold; font-size: 14pt;">Consolidado</font>
      	</div>
				<div class="d-none d-md-block" style="margin-bottom: -25pt; margin-left: 60pt; text-align: left;">
        	<font style="font-size: 12pt;">Consolidado</font>
      	</div>
			  <table id="tablaPersonal" class="display compact" style="width: 100%;">
			    <thead>
			      <tr>
			      	<th class="celdaColor" style="border: 1pt solid white;" title="Imagen de perfil">IMG</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="DNI" >DNI</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Nombre completo" >Nombre</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Nivel jerárquico" >N</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Área" >Area</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Temperatura AM" >T° AM</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Temperatura PM">T° PM</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Turno asignado" >Turno</th>
			        <th class="celdaColor" style="border: 1pt solid white; text-align: center;" title="Estado Praxis">EP</th>
			        <th class="celdaColor" style="border: 1pt solid white; text-align: center;" title="Estado control">EG</tH>
			        <th class="celdaColor" style="border: 1pt solid white; text-align: center;" title="Estado RRHH">ER</th>
			        <th class="celdaColor" style="border: 1pt solid white; text-align: center;" title="Estado operacional">EO</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Marca entrada" >Entrada</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Marca salida" >Salida</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Permiso asignado" >Permiso</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Función que desempeña" >Función</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Inicio de contrato" >I. Contrato</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Tipo clasificación" >Tipo</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Centro de costo" >C. Costo</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Contrato ó departamento" >Contrato</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Cliente" >Cliente</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Actividad" >Actividad</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Comuna" >Comuna</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Región" >Región</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Empresa" >Empresa</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Jefe directo" >Jefatura</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Cargos asignados" >Cargos</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Saldo de vacaciones" >Saldo vac</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Fecha de nacimiento" >Fecha nac</th>
							<th class="celdaColor" style="border: 1pt solid white;" title="Fecha de nacimiento" >DNI 2</th>
							<th class="celdaColor" style="border: 1pt solid white;" title="Fecha de nacimiento" >Estado Praxis</th>
							<th class="celdaColor" style="border: 1pt solid white;" title="Fecha de nacimiento" >Estado control</th>
							<th class="celdaColor" style="border: 1pt solid white;" title="Fecha de nacimiento" >Estado RRHH</th>
							<th class="celdaColor" style="border: 1pt solid white;" title="Fecha de nacimiento" >Estado operacional</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpoTablaPersonal" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
		</div>
</div>
