<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div style="margin-top: 50pt;">
		<div id="mainLogged" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 150pt;">
			<div>
				<img src="view/img/logged.png" alt="">
				<br>
				<font style="color: black; font-size: 18pt; margin-top: 100pt;">Análisis de seguridad en el trabajo</font>
			</div>
		</div>
</div>
